/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
.logo
{
    width: 197.44px;
    height: 45.05px;
}
.hamburger
{
    margin-top : 15px;
    width: 24px;
    height: 20px;
}
.top
{
    display: flex;
    margin-top: 30px;
}
.hero
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_img
{
    width: 512px;
    height: 514px;
}
.txt
{
    width: 50%;
    padding-right: 150px;
} 
.off
{
    display: flex;
    width: 205px;
    height: 35px;
    background-color: #149F39;
    color: white;
    justify-content: center;
    align-items: center;
}
.ejy
{
    font-size: 72px;
    margin-top: 20px;
}
.btn
{
    margin-top: 20px;
    background-color: #FFC066;
    color: white;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in;
}
.down
{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i
{
    display: flex;
    width: 20%;
}
.cont
{
    margin-left: 10px;
}
.discount
{
    width: 80px;
    height: 83px;
}
.fresh
{
    width: 64px;
    height: 64px;
}
.delivery
{
    width: 70px;
    height: 70px;
}
.fr
{
    margin: 0 50px;
}
.ln
{
    height: 2px;
}
.center_section
{
    margin: 30px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our_menu
{

    background-color: #149F39;
    color: white;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in;
}
.xplr
{
    margin: 30px 0px;
}
.images
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sml_flex
{
    display: flex;
    justify-content: space-between;
}
.c2
{
    margin: 0px 31px;
}
.c2, .c3
{
    width: 25%;
}
.i1
{
    height: 585px;
}
.i2
{
    width: 276px;
    height: 585px;
}
.i3
{
    width: 277px;
    height: 274px;
}
.i4 ,.i5
{
    height: 277px;
    width: 277px;
    margin-top: 27px;
}
.i6
{
    width: 278px;
    height: 278px;
    margin-top: 27px;
}
.i7
{
    width: 277px;
    height: 581px;
    margin-top: 31px; 
}
.bottom_section
{
    display: flex;
    justify-content: space-between;
    background-color: #FFF0DB;
    padding: 30px 227px 150px 160px;
}
.main h4,.spt h4
{
    margin-bottom: 15px;
}
.nwsltr h4
{
    margin-bottom: 10px;
}
.it
{
    padding: 4px;
    border: 0.2px solid #000000;
}
.flw
{
    margin-top: 10px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0em;
    color: #565656;
}
.ico
{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fb
{
    height: 21px;
    width: 20px;
}
.twt
{
    width: 22.71px;
    height: 20px;
}
.inst
{
    width: 23px;
    height: 23px;
}
.yt
{
    width: 24px;
    height: 20px;
}
.btn:hover ,.our_menu:hover
{
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
    transition: 0.3s ease-out;
}
@media only screen and (max-width: 70.95em)
{
    .top
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .txt
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .top img
    {
        margin: 20px 0px;
        width: 100vw;
    }
    .txt
    {
        padding-right: 0px;
    }
    .down
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .down div
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
    .images
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .images img
    {
        width: 50vw;
    }
    .sml_flex
    {
        display: flex;
        flex-direction: column;
    }
    .c1,.c2,.c3
    {
        width: 100%;
    }
    .bottom_section
    {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .bottom_section div
    {
        margin: 20px 0px;
    }
    .bottom_section p
    {
        margin-top: 20px;
    }
} */










/*CHANGES*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
.logo
{
    width: 197.44px;
    height: 45.05px;
}
.hamburger
{
    margin-top : 15px;
    width: 24px;
    height: 20px;
}
.top
{
    display: flex;
    margin-top: 30px;
}
.hero
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_img
{
    width: 512px;
    height: 514px;
}
.txt
{
    width: 50%;
    padding-right: 150px;
} 
.off
{
    display: flex;
    width: 205px;
    height: 35px;
    background-color: #149F39;
    color: white;
    justify-content: center;
    align-items: center;
}
.ejy
{
    font-size: 72px;
    margin-top: 20px;
}
.btn
{
    margin-top: 20px;
    background-color: #FFC066;
    color: white;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in;
}
.down
{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.i
{
    display: flex;
    width: 20%;
}
.cont
{
    margin-left: 10px;
}
.discount
{
    width: 80px;
    height: 83px;
}
.fresh
{
    width: 64px;
    height: 64px;
}
.delivery
{
    width: 70px;
    height: 70px;
}
.fr
{
    margin: 0 50px;
}
.ln
{
    height: 2px;
}
.center_section
{
    margin: 30px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our_menu
{

    background-color: #149F39;
    color: white;
    font-size: 24px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    transition: 0.3s ease-in;
}
.xplr
{
    margin: 30px 0px;
}
.images
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.sml_flex
{
    display: flex;
    justify-content: space-between;
}
.c2
{
    margin: 0px 31px;
}
.c2, .c3
{
    width: 25%;
}
/* .i1
{
    height: 585px;
} */
/* .i2
{
    width: 276px;
    height: 585px;
} */
.i3
{
    width: 277px;
    height: 274px;
}
.i4 ,.i5
{
    height: 277px;
    /* width: 277px; */
    margin-top: 27px;
}
.i6
{
    /* width: 278px; */
    height: 278px;
    margin-top: 27px;
}
.i7
{
    width: 277px;
    /* height: 581px; */
    margin-top: 31px; 
}
.bottom_section
{
    display: flex;
    justify-content: space-between;
    background-color: #FFF0DB;
    padding: 30px 227px 150px 160px;
}
.main h4,.spt h4
{
    margin-bottom: 15px;
}
.nwsltr h4
{
    margin-bottom: 10px;
}
.it
{
    padding: 4px;
    border: 0.2px solid #000000;
}
.flw
{
    margin-top: 10px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0em;
    color: #565656;
}
.ico
{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fb
{
    height: 21px;
    width: 20px;
}
.twt
{
    width: 22.71px;
    height: 20px;
}
.inst
{
    width: 23px;
    height: 23px;
}
.yt
{
    width: 24px;
    height: 20px;
}
.btn:hover ,.our_menu:hover
{
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
    transition: 0.3s ease-out;
}
@media only screen and (max-width: 70.95em)
{
    .top
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .txt
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .top img
    {
        margin: 20px 0px;
        width: 100vw;
    }
    .txt
    {
        padding-right: 0px;
    }
    .down
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .down div
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 10px 0px;
    }
    .images
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .images img 
    {
        width: 50vw;
        object-fit: contain;
    }
    .images div 
    {
        width: 50vw;
        margin-top: 0;
    }
    .sml_flex
    {
        display: flex;
        flex-direction: column;
    }
    .c1,.c2,.c3
    {
        width: 100%;
    }
    .bottom_section
    {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .bottom_section div
    {
        margin: 20px 0px;
    }
    .bottom_section p
    {
        margin-top: 20px;
    }
    /* .i2,.i3
    {
        margin-top: 30px;
    } */
    /* .s1
    {
        height: 0px;
    } */
}
